mixin icon(name)
  svg(class="icon icon-" + name)
    use(xlink:href="#icon-" + name)

doctype html
html
  head
    meta(charset="utf-8")
    block title
      title Jade Layout Template
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" media="all" href="css/bootstrap.min.css")
    link(rel="stylesheet" media="all" href="css/bootstrap-theme.min.css")
    link(rel="stylesheet" media="all" href="css/style.css")
    script(src="js/app.js")
  body

    //BEGIN out
    .out
      block content
    //END out
    footer.footer
      .footer__inner
        .footer__menu
          .footer__subtitle EstateHustler
          ul.footer__list
            li
              a(href="#") About
            li
              a(href="#") Price
            li
              a(href="#") Contact
            li
              a(href="#") Impressum
            li
              a(href="#") Blog
        .footer__share
          .footer__subtitle Follow us
          ul.footer__social
            li
              a(href="#")
                i.icon-tw
            li
              a(href="#")
                i.icon-fb
        .footer__feedback
          .footer__title Got feedback?
          .footer__form
            form(action="")
              .footer__field
                input.footer__input(type="text" placeholder="Your email")
              .footer__field
                input.footer__input(type="text" placeholder="Ask a question")
              .footer__bottom
                button.button.button_white.button_small Submit
        .copyright © 2015 EstateHustler.com
