extends _layout-redirecting

block title
	title Title of template

block content
	.redirecting
		a(href="#").redirecting__logo
			i.icon-logo
			| EstateHustler
		.redirecting__title EstateHustler gathering and analize thousands apartments in Germany from other websites.
		.load
			i.load__icon
		.redirecting__text You are redirecting to immobilienscout24.de